<section id="footer">
    <img src="/media/border2.png" alt="" id="banner-border">
     <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://s.tmimgcdn.com/scr/800x500/254400/successo-persone-logo-vector-symbol-v4_254417-original.jpg" class="logo" alt="" >
                <p id="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consectetur voluptatibus unde laborum praesentium, fugit nesciunt totam sequi illum! Corporis accusantium amet consectetur asperiores earum magnam eum veniam officia error.</p>
            </div>
            <div class="col-md-4 text-center">
                <h2>Company Your Slocan</h2>
                <table>
                    <tr>
                        <td><i class="bi bi-buildings fs-4 "></i></td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio totam consequatur animi eos quibusdam, eum corrupti sint, nam quam repellat dolores laboriosam debitis magnam incidunt deserunt eveniet velit? Quae, voluptatibus.</td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-telephone"></i></td>
                        <td>+123-435345435</td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-phone"></i></td>
                        <td>+91-7375822135</td>
                    </tr>
                    <tr>
                        <td><i class="bi bi-envelope"></i></td>
                        <td>@gmail.com</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <form action="/user/query" method="post"  class="text-center">
                    <h2>Query form</h2>
                    <input type="text" name="Email" class="form-control" placeholder="Enter Email" required>
                    <textarea name="comment" id="" class="form-control mt-3 mb-3" placeholder="Enter Query" ></textarea >
                    <button type="submit" class="btn btn-success form-control">Post Query</button>
                </form>
            </div>
        </div>
     </div>
     <div class="container">
        <div class="row text-center">
            <div class="col-md-12 pb-2">
                <a href="#"><img src="/media/instagram-icon.png" alt=""></a>
                <a href="#"><img src="/media/linkedin-icon.png" alt=""></a>
                <a href="#"><img src="/media/twitter-icon.png" alt=""></a>
                <a href="#"><img src="/media/snapchat-icon.png" alt=""></a>

            </div>
        </div>
     </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>