<div class="col-md-3 ">
    
<a href="/admin/banner/mssg"><button class="btn btn-success form-control mt-2">Banner Management</button></a>
<a href="/admin/service/mssg"><button class="btn btn-success form-control mt-2">Service 
    Management</button></a>
    <a href="/admin/testinom/mssg"><button class="btn btn-success form-control mt-2">Testinominals Management</button></a>
<a href="/admin/query/mssg"><button class="btn btn-success form-control mt-2">Query Management</button></a>
</div>